Project/obj/Debug/
Project/wwwroot/
PTCGProject.sln
Project/PTCGProject.csproj
Project/PTCGProject.csproj.user
Project/bin/Debug/
Project/obj/project.assets.json
Project/obj/
.vs/PTCGProject/FileContentIndex/d34ef1a1-c921-4670-a4d7-b2aa2c42ff9b.vsidx
.vs/PTCGProject/v17/
.vs/PTCGProject/config/applicationhost.config
